.app-btn {
  border-color: #FD5602;
  background-color: #FE6E00;

  &:hover {
    border-color: #FF0000;
    background-color: #FD5602;
  }
}

.app-message {
  color: gray;
  margin-left: 10px;
  margin-top: 10px
}
